/* Setting global values */
:root {
    font-size: 16px;
    font-family: 'Ubuntu Condensed', sans-serif;
    --text-primary: black;
    --text-secondary: white;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 1s;
    --drawer-color: #0ea5e9;

    /*Min value, Max value, Ideal value!*/
    --drawer-width: clamp(210px, 22vw, 325px);

    --nav-bg-1: #f8f8f8;
    --nav-color-1: #c9c9c9;
    --nav-color-2: #62daff6e;
    --blue-1: #084c61;
    --gh-avatar: url("https://github.com/markcawili.png");
    --gh-avatar2: url('https://github.com/bob.png');
    --gh-avatar3: url('https://github.com/alice.png');
    --gh-avatar4: url('https://github.com/amy.png');
    --content-gray: rgb(235, 235, 235);

    --transition-notDrawer: margin-left 0.4s ease-in;
    --transition-drawer: width 0.4s ease-in;
}

/* This ensures that the body is always 100% of our screen */
body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
    /* imagining what the layout is like */
    "drawer nav nav nav"
    "drawer content content content";

    /* Row will take up less than 1, the rest of the section takes up more */
    grid-template-rows: 0.8fr 4fr;
    grid-template-columns: 5rem 1fr 1fr 1fr;
}

.drawer {
    background-color: var(--drawer-color);
    /* Width based on font size */
    width: 5rem;
    /* This means it will stay on the screen */
    position: fixed;
    transition: var(--transition-drawer);
    overflow: hidden;
    height: 100vh;
}
/* Drawer on hover ... */
.drawer:hover {
    width: var(--drawer-width);
}

/* On hover, for all menuItems, for all h1's ... */
.drawer:hover > .menuItem > h1 {
    display: inline;
}

/* Grabs the sibling navbar */
.drawer:hover ~ .navbar,
.drawer:hover ~ .content {
    /* Makes it so that it shifts over the drawer width */
    margin-left: calc(var(--drawer-width) - 5rem);
}

.menuItem > h1 {
    display: none;
    margin-left: 5%;
}

.menuItem {
    color: var(--text-secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

/* Selects everything in menuItem */
.menuItem > * {
    cursor: pointer;
}

/* In the drawer, in the div that is NOT the first child, select all */
.drawer > div:not(:first-child) > * {
    padding: 1vw 0.1vw 0.1vw 0vw;
    font-size: calc(20px + 0.2vw);
    padding-left: 20px;
}

/* Same thing but for the images, both same so it is square */
.drawer > div:not(:first-child) > img {
    width: calc(20px + 0.5vw);
    height: calc(20px + 0.5vw);
}

/* Adds padding specifically to the 8th child of this div */
.drawer > div:nth-child(8) {
    padding-top: 60px;
}

.dashboard {
    font-size: clamp(12px, calc(25px + 0.9vw), 50px);
}

.dashboard img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Outlines a base and then plus if window changes */
    width: calc(40px + 0.7vw);
    height: calc(40px + 0.7vw);
    padding-left: 10px;
    padding-top: 10px;
}

.navbar {
    grid-area: nav;
    transition: var(--transition-notDrawer);
    background-color: var(--nav-bg-1);
    padding: 1.5rem 3rem;
    border-bottom: 2px solid rgb(219, 219, 219);
}

.topNav {
    display: grid;
    grid-template-columns: 1fr max-content;
    margin-bottom: 2.5rem;
}

.search {
    display: flex;
    align-items: center;
    margin-right: auto;
    width: 100%;
}

.search > input {
    display: inline-block;
    border: 0;
    background-color: var(--nav-color-1);
    padding: 0.5rem 1.5rem;
    outline-color: var(--blue-1);
    margin-left: 1.25rem;
    border-radius: 5px;
    width: min(80%, 600px);
    margin-right: 20px;
}

.navbar .account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 800;
}

.gh-avatar {
    background-color: var(--gh-avatar) center center / cover no-repeat;
    border-radius: 50%;
}

.account .gh-avatar {
    margin: 0 1rem 0 2.5rem;
    height: 40px;
    width: 40px;
}

.content {
    grid-area: content;
    transition: var(--transition-notDrawer);
}

img {
    cursor: pointer;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile .gh-avatar {
    width: 75px;
    height: 75px;
}